@model IEnumerable<TaxiApplication.Data.Laggage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberLaggage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassengerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumberLaggage)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.picture)
        </td>*@
        <td>
            <a href="@Url.Action("Details", "Laggages", new { id = item.LaggageID })" title="View Details" , rel="nofollow">
                <img src="data:image/png;base64,@Convert.ToBase64String(item.picture, 0, item.picture.Length)" style="width: 60px; height: 60px" alt="" />
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PassengerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LaggageID }) |
            @Html.ActionLink("Details", "Details", new { id = item.LaggageID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LaggageID })
        </td>
    </tr>
}

</table>
